@model UserInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="https://localhost:7147/images/@Model.ImageUrl" alt="Profile" class="rounded-circle">
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <h3>Web Designer</h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">@Model.FirstName @Model.LastName</div>
                                </div>

                           

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">UserName</div>
                                    <div class="col-lg-9 col-md-8">@Model.UserName</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Temporary Address</div>
                                    <div class="col-lg-9 col-md-8">@Model.TemporaryAddress</div>
                                </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Permanent Address </div>
                                <div class="col-lg-9 col-md-8">@Model.ParmanentAddress</div>
                            </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Country</div>
                                    <div class="col-lg-9 col-md-8">@Model.Country</div>
                                </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">City</div>
                                <div class="col-lg-9 col-md-8">@Model.City</div>
                            </div>


                                <div class="row">
                                <div class="col-lg-3 col-md-4 label">State</div>
                                    <div class="col-lg-9 col-md-8">@Model.State</div>
                                </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Postal Code</div>
                                <div class="col-lg-9 col-md-8">@Model.PostalCode</div>
                            </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">@Model.Email</div>
                                </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Date of Birth</div>
                                <div class="col-lg-9 col-md-8">@Model.DateOfBirth</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Sex</div>
                                <div class="col-lg-9 col-md-8">@Model.sex</div>
                            </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                            <form method="post" asp-action="EditProfile" asp-controller="UserProfile" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                        <img src="https://localhost:7147/images/@Model.ImageUrl" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" id="uploadProfileImageBtn" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                <a href="#"  class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="file" name="imageFile" id="imageFile" style="display:none;" />

                                <input name="ID" type="hidden" class="form-control" id="fullName" value="@Model.ID ">
                                  <input name="AddressId" type="hidden" class="form-control" id="fullName" value="@Model.AddressId ">
                                <input name="ProfileID" type="hidden" class="form-control" id="fullName" value="@Model.ProfileID ">
                                <input name="ImageUrl" type="hidden" class="form-control" id="fullName" value="@Model.ImageUrl ">
                                <input name="UserName" type="hidden" class="form-control" id="fullName" value="@Model.UserName ">
                                  
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="FirstName" type="text" class="form-control" id="fullName" value="@Model.FirstName " required>
                                        <div class="invalid-feedback">Please enter your Parmanent First Name!</div>
                                        </div>
                                    </div>

                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="LastName" type="text" class="form-control" id="fullName" value=" @Model.LastName" required>
                                        <div class="invalid-feedback">Please enter your Last Name!</div>
                                    </div>
                                </div>

                                   

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Temporary Address</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="TemporaryAddress" type="text" class="form-control" id="company" value="@Model.TemporaryAddress" required>
                                        <div class="invalid-feedback">Please enter your Temporary Address!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Parmanent Address</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="ParmanentAddress" type="text" class="form-control" id="Job" value="@Model.ParmanentAddress" required>
                                        <div class="invalid-feedback">Please enter your Parmanent Address!</div>

                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="country" type="text" class="form-control" id="Country" value="@Model.Country" required>
                                        <div class="invalid-feedback">Please enter your Country!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">City</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="City" type="text" class="form-control" id="Address" value="@Model.City" required>
                                        <div class="invalid-feedback">Please enter your City!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">PhoneNumber</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="PhoneNumber" type="text" class="form-control" id="Phone" value="@Model.PhoneNumber" required>
                                        <div class="invalid-feedback">Please enter your  Phone Number!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="Email" type="email" class="form-control" id="Email" value="@Model.Email" required>
                                        <div class="invalid-feedback">Please enter your  Email!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">State</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="State" type="text" class="form-control" id="Twitter" value="@Model.State" required>
                                        <div class="invalid-feedback">Please enter your  State!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Postal code</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="PostalCode" type="text" class="form-control" id="Facebook" value="@Model.PostalCode" required>
                                        <div class="invalid-feedback">Please enter your  PostalCode!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Date of Birth</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="DateOfBirth" type="datetime" class="form-control" id="Instagram" value="@Model.DateOfBirth" placeholder="dd/mm/yyyy" required>
                                        <div class="invalid-feedback">Please enter your  Date of Birth!</div>
                                        </div>
                                    </div>

                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Sex</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input asp-for="sex" class="form-check-input" type="radio" name="Sex" id="gridRadios1" value="male" required>
                                            <label class="form-check-label" for="gridRadios1">
                                                Male
                                            </label>
                                            <div class="invalid-feedback">Please Select Gender!</div>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="sex" class="form-check-input" type="radio" name="Sex" id="gridRadios2" value="female" required>
                                            <label class="form-check-label" for="gridRadios2">
                                                Female
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                           
                           

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                            <form asp-action="ChangePassword" asp-controller="UserProfile" class="row g-3 needs-validation" novalidate>

                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="OldPassword" type="password" class="form-control" id="currentPassword" required>
                                        <div class="invalid-feedback">Please enter your Current Password!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="NewPassword" type="password" class="form-control" id="newPassword" required>
                                        <div class="invalid-feedback">Please enter your New Password!</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirm New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                        <input name="ConfirmPassword" type="password" class="form-control" id="confirmPassword" required>
                                        <div class="invalid-feedback">Please enter your Confirm Password!</div>
                                           
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

@section Scripts {

    <script src="~/js/addimg.js"></script>


    }

<!-- End #main -->